<ion-content>

  <ion-grid text-center style="height: 100%">
    <ion-row>
      <ion-col>
        <br>
        <br>
        <h2>Welcome to Lets Ride</h2>
        <p text-center>Rider App</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 45%">
      <ion-col>
        <div text-center><img src="../../assets/img/ride.png" style="width : 40% ; height : auto"/></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button color="dark" style="width:8em" (click)="goToLoginPage()">SIGN IN</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button color="dark" style="width:8em" (click)="goToRegisterPage()">REGISTER</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
